<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- connectionString:
	     The EasyNetQ connection string. Example: host=192.168.1.1;port=5672;virtualHost=MyVirtualHost;username=MyUsername;password=MyPassword;requestedHeartbeat=10
	     The following default values will be used if not specified: host=localhost;port=5672;virtualHost=/;username=guest;password=guest;requestedHeartbeat=10
	-->
	<appSettings>
		<add key="rabbitConnectionString" value="host=127.0.0.1;port=5672;virtualHost=/;username=guest;password=guest"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>